
<div class="card">
<h2 id="espaco2">{{player1}}: {{playerChampions.playerChampion1}}</h2>
<h2 id="espaco2">{{player2}}: {{playerChampions.playerChampion2}}</h2>
<h2 id="espaco2">{{player3}}: {{playerChampions.playerChampion3}}</h2>
<h2 id="espaco2">{{player4}}: {{playerChampions.playerChampion4}}</h2>
</div>

<p id="homeLinks5">Quem venceu?</p>
<p id="espaco"><a id="homeLinks3" href="/match/duoWin/duo1W/{{player1}}/{{player2}}/{{player3}}/{{player4}}/{{playerChampions.playerChampion1}}/{{playerChampions.playerChampion2}}/{{playerChampions.playerChampion3}}/{{playerChampions.playerChampion4}}">{{player1}} e {{player2}}</a></p>

<p id="espaco"><a id="homeLinks2" href="/match/duoWin/duo2W/{{player1}}/{{player2}}/{{player3}}/{{player4}}/{{playerChampions.playerChampion1}}/{{playerChampions.playerChampion2}}/{{playerChampions.playerChampion3}}/{{playerChampions.playerChampion4}}">{{player3}} e {{player4}}</a></p>